@font-face {
  font-family: "Avenir Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/AvenirLTStd-Black.otf");
}

* {
  box-sizing: border-box;
}

body {
  background: url("../images/background.jpg") #f4f4f4 no-repeat fixed center;
  font-family: Avenir Roman, system-ui;
  max-width: 50em;
  margin: 0 auto;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

img {
  width: 50%;
}

h1 {
  font-family: Avenir Black, system-ui;
  color: #969696;
  text-align: center;
  margin-bottom: 50px;
}

#green {
  color: green;
}

#tabs {
  display: flex;
}

#tabs button {
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 50%;
  background: #969696;
  transition: background 0.3s ease-in-out;
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 10px;
  margin: 2.5px;
}

#tabs button:hover {
  background: #888888;
  transition: background 0.3s ease-in-out;
}

#results {
  background: white;
}