@font-face {
    font-family: "Avenir Roman";
    src: url("../fonts/AvenirLTStd-Roman.otf");
}
  
@font-face {
    font-family: "Avenir Black";
    src: url("../fonts/AvenirLTStd-Black.otf");
}

* {
    box-sizing: border-box;
}

body {
    background: url("../images/background.jpg") #f4f4f4 no-repeat fixed center;
    background-size: cover;
    font-family: Avenir Roman, system-ui;
    max-width: 50em;
    margin: 0 auto;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
#logo img {
    width: 50%;
}

h1 {
    font-family: Avenir Black, system-ui;
    color: #969696;
    text-align: center;
    margin-bottom: 50px;
}

h1 span {
    color: green;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    gap: 5px;
}

.tabs button {
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 50%;
    background: #969696;
    transition: background 0.3s ease-in-out;
    border: none;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    margin: 0;
}

.tabs button:hover {
    background: #838383;
    transition: background 0.3s ease-in-out;
}

.tabs .cooking {
    background: #838383;
}

ul {
    list-style-type: none;
    background: #838383;
    border-radius: 0 0 5px 5px;
    padding: 0;
    margin-top: 0;
    width: 90vw;
    margin: 0 auto;
}

li {
    display: flex;
    justify-content: center;
}

#product {
    color: black;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    width: 90vw;
    background: #ffffffbf;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    /* margin-bottom: 15px; */
    margin: 5px 10px;
    align-items: center;
}

#frame {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

#frame img {
    max-height: 100px;
    max-width: 100px;
    margin: auto;
    transition: transform 0.2s;
}

span {
    margin: 0 auto;
}

#name {
    font-weight: bold;
    font-family: Lato Bold, system-ui;
    font-size: 1.1em;
    margin-left: 2.5px;
    margin-right: 2.5px;
    line-height: 0em;
}

#product details summary {
    cursor: pointer;
}

#product details[open] summary {
    font-weight: bold;
    font-family: Lato Bold, system-ui;
}

#product details p {
    line-height: 1;
    margin: 0 auto;
    margin-top: 5px;
    padding-left: 10%;
    padding-right: 10%;
}

.more {
    display: none;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-family: Lato Bold, system-ui;
    font-size: 1em;
    background: #969696;
    transition: background 0.3s ease-in-out;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 26px;
    margin-top: 31px;
    margin-bottom: 25px;
}

.more:hover {
    background: #888888;
    transition: background 0.3s ease-in-out;
}

.instructions {
    font-weight: bold;
    font-family: Lato Bold, system-ui;
    line-height: 1.5;
    margin-top: 25px;
}

.loader {
    border: 6px solid #969696;
    border-radius: 50%;
    border-top: 6px solid white;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    margin-block-start: 1em;
    margin-inline-start: 1em;
    display: none;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.block {
    display: block;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.sort button.darkgreen {
    background: #749262;
}

.sort button.lightgreen {
    background: #9ac383;
}

/* Laptop */
@media only screen and (min-width: 1024px) {
    body {
        max-width: 70em;
    }

    h1 {
        font-size: 4em;
    }

    .tabs {
        width: 70vw;
    }

    ul {
        width: 70vw;
    }

    #product {
        line-height: 2;
        width: 70vw;
    }

    #product p {
        margin: 0;
    }

    #frame {
        width: 150px;
        height: 150px;
    }
    
    #frame img {
        max-height: 150px;
        max-width: 150px;
    }
}

/* Laptop L */
@media only screen and (min-width: 1440px) {
    body {
        max-width: 50em;
    }

    ul {
        width: 50vw;
    }

    #product {
        width: 50vw;
    }

    .tabs {
        width: 50vw;
    }

    #frame {
        width: 150px;
        height: 150px;
    }
    
    #frame img {
        max-height: 150px;
        max-width: 150px;
    }
}